<div class="row mt-2" style="min-height: 160px;">
    <div class="col-auto d-none d-md-block px-0 mr-3">
      <a href="{{pub.url}}"><img style="width: 120px; height: 120px; object-fit: cover;" src="/assets/img/pub/{{pub.slug}}_thumb.png" alt="{{pub.slug}} thumbnail"/></a>
    </div>

    <div class="col px-0">
      <div class="col-12 font-weight-bold"><a href="{{pub.url}}">{{ pub.title }}</a></div>
      <div class="col-12">
        <small>
        {{pub.authors[0][0]}}
        {%- for author in pub.authors offset:1 -%}
        , {{ author[0] }} 
        {%- endfor -%}
        </small>
      </div>
      <div class="col-12">
        <small>
          <em>{{ pub.journal }} {% if pub.special_issue %} special issue on {{pub.special_issue}} {% endif %} {% if pub.conference %}({{pub.conference}} {{pub.year}}) {% endif %}</em>
          {%- if pub.award -%} &nbsp;&nbsp;&nbsp;<span class="badge badge-secondary">{{pub.award}}</span>{%- endif -%}
        </small>
      </div>
      <div class="col-12 mt-2">
        {%- for link in pub.links -%}
          {%- assign lk = link[0] | downcase | strip -%}
          {%- if lk == "journal" -%}{%- assign li = "fas fa-book-open" -%}
          {%- elsif lk == "preprint" or lk == "pdf" or lk == "author" -%}{%- assign li = "fas fa-file-pdf" -%}
          {%- elsif lk == "arxiv" -%}{%- assign li = "ai ai-arxiv" -%}
          {%- elsif lk == "code" -%}{%- assign li = "fab fa-github" -%}
          {%- elsif lk == "supplementary" or lk == "supplemental" -%}{%- assign li = "fas fa-plus-square" -%}
          {%- elsif lk == "slides" -%}{%- assign li = "fas fa-desktop" -%}
          {%- elsif lk == "video" -%}{%- assign li = "fab fa-youtube" -%}
          {%- elsif lk == "bib" -%}{%- assign li = "fas fa-quote-right" -%}
          {%- else -%}{%- assign li = "fas fa-link" -%}
          {%- endif -%}
          <a class="mr-3" href="{{ link[1] | strip }}"><i class="{{ li }}"></i>&nbsp;{{ link[0] | strip }}</a>
        {%- endfor -%}
      </div>
    </div>
</div>