---
layout: default
---

<div class="container h-100">
  
  <!-- paper info -->
  <div class="row align-items-center h-100">
    <div class="col-12 align-items-center">
      
      <div class="text-center"><h2>{{page.title}}</h2></div>
      <div class="text-center">
        <span>
          {{page.authors[0][0]}}
          <sup>
            {{page.authors[0][1][0] | plus: 1}}
            {%- for i in page.authors[0][1] offset : 1 -%}
              , {{i | plus : 1}}
            {%- endfor -%}
          </sup>
        </span>
        {%- for author in page.authors offset : 1-%}
        <span>
          , {{author[0]}}
          <sup>
            {{author[1][0] | plus: 1}}
            {%- for i in author[1] offset : 1 -%}
              , {{i | plus : 1}}
            {%- endfor -%}
          </sup>
        </span>
        {%- endfor -%}
      </div>
      <div class="small text-muted text-center ">
        1. {{page.affiliations[0]}}
        {%- assign counter = 2 -%}
        {%- for affiliation in page.affiliations offset : 1 -%}
          ,  {{counter}}. {{affiliation}}
          {%- assign counter = counter | plus: 1 -%}
        {%- endfor -%}
      </div>
      <div class="mt-2 text-center">
        {{page.journal}} {% if page.conference %}({{page.conference}} {{page.year}}) {% endif %}
      </div>
      <!-- {%- for author in page.authors -%}
        <div>
          <span class="text-uppercase">{{author[0]}}</span>
          {%- for i in author[1] -%}
          , <span class="small text-muted"> {{page.affiliations[i]}}</span>  
          {%- endfor -%}
        </div> 
      {%- endfor -%} -->

    </div>
  </div>

  <!-- paper links -->
  <div class="row h-100 my-3">
    <div class="col-12 text-center">
        {% if page.links.pdf %}<a class="btn btn-primary btn-sm" href="{{page.links.pdf}}">pdf</a>{% endif %}
        {% if page.links.slides %}<a class="btn btn-primary btn-sm" href="{{page.links.slides}}">slides</a>{% endif %}
        {% if page.links.code %}<a class="btn btn-primary btn-sm" href="{{page.links.code}}">code</a>{% endif %}
        {% if page.links.bib %}<a class="btn btn-primary btn-sm" href="{{page.links.bib}}">bibtex</a>{% endif %}
    </div>
  </div>
  <!-- paper teaser -->
  <hr/>
  <div class="row align-items-center h-100 my-3 mx-3">
    <div class="col-12">

        <img class="img-fluid" src="/assets/img/pub/{{page.slug}}_teaser.png" alt="{{page.slug}} thumbnail"/>
        <div class="font-italic small text-justify">
          <span class="font-weight-bold">Figure 1.<span>
          <span class="font-weight-normal">{{page.caption}}</span>
        </div>
      
    </div>
  </div>
  <hr/>
    
  <!-- paper abstract --> 
  <div class="row align-items-center h-100 my-3">
    <div class="col-12 text-justify">
        {{content}}
    </div>
  </div>
  <!-- <hr/> -->
</div> <!-- container -->