---
layout: default
---

<div class="container">
  <div><h2>{{page.title}}</h2></div>
  <div>
    {{page.authors[0][0]}}<sup>{{page.authors[0][1][0]}}{%- for no in page.authors[0][1] offset:1 -%},{{no}}{%- endfor -%}</sup>
    {%- for author in page.authors offset:1 -%}
        , {{ author[0] }}<sup>{{author[1][0]}}{%- for no in author[0][1] offset:1 -%},{{no}}{%- endfor -%}</sup> 
    {%- endfor -%}
  </div>
  {%- assign counter = 1 -%}
  {%- for affiliation in page.affiliations -%}
    <div>{{counter}}. {{affiliation}}</div>
    {%- assign counter = counter | plus: 1 -%}
  {%- endfor -%}
  
  <div>
    <figure>
      <img src="/assets/img/pub/{{page.slug}}_teaser.png" alt="{{page.slug}} thumbnail" width="100%"/>
      <figcaption>{{page.caption}}</figcaption>
    </figure>
  </div>
  <hr/>
  <div>
    {{content}}
  </div>
  <!-- <hr/> -->
</div>